## Exploratory Data Analysis

Importing Libraries

In [35]:
import sys
sys.path.append('../')
import pandas as pd
import numpy as np
from src.utils import check_missing_data
from scripts.db_utils import connect, sql_to_dataframe
from src.descriptive_statistics import describe_numerical, summarize_categorical, summarize_time_series
from src.plots import display_summary_table

Load data

In [36]:
#opening the connection
conn = connect()

# load telegram post data for banks
query = """ SELECT * FROM public.telegram_post_performance  """
df_posts = sql_to_dataframe(conn, query)

# load BOA App review data 
query = """ SELECT * FROM public.google_play_reviews  """
df_reviews = sql_to_dataframe(conn, query)

# load BOA telegram channnel subscribers data
query = """ SELECT * FROM public.telegram_subscription_growth  """
df_subscribers = sql_to_dataframe(conn, query)

#closing the connection
conn.close()

Connecting..
All good, Connection successful!

In [37]:
df_posts.head()

,id,post_link,date,views,post_time,bank,time_of_day
0,430,https://t.me/tikvahethiopia/70382,2022-05-19 13:47:14,310300,13:47:14,#CBE,afternoon
1,431,https://t.me/tikvahethiopia/70383,2022-05-19 13:47:14,310300,13:47:14,#CBE,afternoon
2,432,https://t.me/tikvahethiopia/73378,2022-08-30 11:13:05,267400,11:13:05,#CBE,morning
3,433,https://t.me/tikvahethiopia/73379,2022-08-30 11:13:05,267400,11:13:05,#CBE,morning
4,434,https://t.me/tikvahethiopia/74556,2022-11-03 16:07:35,347100,16:07:35,#CBE,afternoon

In [38]:
df_reviews.head()

,id,review_id,username,user_image,likes,review_created_version,created_at,reply_content,replied_at,app_version,score,comments,keywords,lda_category,sentiment,insight
0,1,738b6d3a-2d7f-4a82-bfe2-dcf32591f944,NAHOM NIGUSSIE,https://play-lh.googleusercontent.com/a-/ALV-U...,1,None,2024-05-21 18:38:28,None,None,None,2,Slow and buggy crashed all the time need a lot...,None,None,None,None
1,2,e20abe49-8fe7-42fe-af3a-91399875b21a,Abbatu Ermias,https://play-lh.googleusercontent.com/a/ACg8oc...,0,24.04.23,2024-05-21 05:06:05,None,None,24.04.23,5,Awe ሃረፍ nawe,None,None,None,None
2,3,55c833c8-a942-47bb-aaaa-e022f39e28af,Habtsh Darge,https://play-lh.googleusercontent.com/a/ACg8oc...,0,None,2024-05-20 08:07:49,None,None,None,1,በጣም ቀፋፊ አፕ ነው ። ሰርቶ አያውቅም ። በጣም ብዙ ችግር አለበት ከአ...,None,None,None,None
3,4,d62d6d95-2900-4038-aa26-c9b42835c971,Usman,https://play-lh.googleusercontent.com/a/ACg8oc...,0,None,2024-05-19 16:27:13,None,None,None,1,This application is very bad . Please modify t...,None,None,None,None
4,5,20c4de51-f5cd-41f3-b21a-efdf8cb4463e,Eskender Million,https://play-lh.googleusercontent.com/a-/ALV-U...,1,24.04.23,2024-05-17 20:37:40,None,None,24.04.23,1,"It has a very complex, inconvenient to use, an...",None,None,None,None

In [39]:
df_subscribers

      id channel_id       date  subscriber_count
0      1       None 2024-05-24                -1
1      2       None 2024-05-23                24
2      3       None 2024-05-22              -104
3      4       None 2024-05-21               -10
4      5       None 2024-05-20               104
..   ...        ...        ...               ...
140  141       None 2024-05-01              -150
141  142       None 2024-04-01               -24
142  143       None 2024-03-01                13
143  144       None 2024-02-01               584
144  145       None 2024-01-01               -42

[145 rows x 4 columns]

Data Summarization

In [40]:
# select categorical columns 
df_posts_categorical = df_posts[['bank', 'time_of_day']]
df_reviews_categorical = df_reviews[['app_version']]

In [41]:
# summerization for categorical datasets 
posts_categorical_summary = summarize_categorical(df_posts_categorical)
display_summary_table(posts_categorical_summary)

bank:
+----+---------------------+---------+
|    | bank                |   count |
|----+---------------------+---------|
|  0 | #CBE                |      85 |
|  1 | BOA                 |      46 |
|  2 | #GlobalBankEthiopia |      27 |
|  3 | #Hibretbank         |      15 |
|  4 | #AwashBank          |       5 |
|  5 | #WegagenBank        |       4 |
+----+---------------------+---------+

time_of_day:
+----+---------------+---------+
|    | time_of_day   |   count |
|----+---------------+---------|
|  0 | afternoon     |      73 |
|  1 | morning       |      53 |
|  2 | evening       |      45 |
|  3 | evening       |       7 |
|  4 | night         |       3 |
+----+---------------+---------+

In [42]:
# summerization for categorical datasets 
reviews_categorical_summary = summarize_categorical(df_reviews_categorical)
display_summary_table(reviews_categorical_summary)

app_version:
+----+---------------+---------+
|    | app_version   |   count |
|----+---------------+---------|
|  0 | 24.03.04      |     132 |
|  1 | 24.04.23      |      34 |
|  2 | 24.02.14      |      25 |
|  3 | 23.12.29      |       5 |
|  4 | 24.01.17      |       5 |
|  5 | 23.10.24      |       3 |
|  6 | 23.07.24      |       2 |
|  7 | 23.08.03      |       1 |
|  8 | 23.12.09      |       1 |
|  9 | 23.07.08      |       1 |
| 10 | 22.10.27      |       1 |
| 11 | 23.06.17      |       1 |
| 12 | 23.12.18      |       1 |
| 13 | 24.02.09      |       1 |
+----+---------------+---------+

In [43]:
# select number columns 
df_posts_numerical = df_posts[['views']]
df_reviews_numerical = df_reviews[['likes', 'score']]
df_subscribers_numerical = df_subscribers[['subscriber_count']]

In [44]:
# describe numerical datasets 
posts_numberical = describe_numerical(df_posts_numerical)
display_summary_table(posts_numberical)

views:
+----+---------+----------+
|    | index   |    views |
|----+---------+----------|
|  0 | count   |    182   |
|  1 | mean    | 265786   |
|  2 | std     |  37187.2 |
|  3 | min     | 129400   |
|  4 | 25%     | 242975   |
|  5 | 50%     | 264450   |
|  6 | 75%     | 291911   |
|  7 | max     | 347100   |
+----+---------+----------+

In [45]:
# describe numerical datasets 
reviews_numberical = describe_numerical(df_reviews_numerical)
display_summary_table(reviews_numberical)

likes:
+----+---------+----------+
|    | index   |    likes |
|----+---------+----------|
|  0 | count   | 300      |
|  1 | mean    |   5      |
|  2 | std     |  34.2237 |
|  3 | min     |   0      |
|  4 | 25%     |   0      |
|  5 | 50%     |   1      |
|  6 | 75%     |   1      |
|  7 | max     | 549      |
+----+---------+----------+

score:
+----+---------+----------+
|    | index   |    score |
|----+---------+----------|
|  0 | count   | 300      |
|  1 | mean    |   3.23   |
|  2 | std     |   1.8225 |
|  3 | min     |   1      |
|  4 | 25%     |   1      |
|  5 | 50%     |   4      |
|  6 | 75%     |   5      |
|  7 | max     |   5      |
+----+---------+----------+

In [46]:
# describe numerical datasets 
subscribers_numberical = describe_numerical(df_subscribers_numerical)
display_summary_table(subscribers_numberical)

subscriber_count:
+----+---------+--------------------+
|    | index   |   subscriber_count |
|----+---------+--------------------|
|  0 | count   |           145      |
|  1 | mean    |           -21.8966 |
|  2 | std     |           119.682  |
|  3 | min     |          -186      |
|  4 | 25%     |           -83      |
|  5 | 50%     |           -39      |
|  6 | 75%     |             7      |
|  7 | max     |           669      |
+----+---------+--------------------+

In [47]:
# do some time analysis on time related columns 
summarize_time_series(df_posts, 'date')

Number of Unique Dates: 155
Start Date: 2018-05-23 00:00:00
End Date: 2024-05-20 06:25:35

In [48]:
# do some time analysis on time related columns 
summarize_time_series(df_reviews, 'created_at')

Number of Unique Dates: 300
Start Date: 2024-02-20 11:46:07
End Date: 2024-05-21 18:38:28

In [58]:
# do some time analysis on time related columns 
summarize_time_series(df_subscribers, 'date')

Number of Unique Dates: 145
Start Date: 2024-01-01 00:00:00
End Date: 2024-12-05 00:00:00

Data Quality Assessment

In [49]:
# checking for missing values
missing_data_df_post = check_missing_data(df_posts)
print(missing_data_df_post)

   Column Name  Missing Values  Percentage Missing
2         date               1            0.549451
4    post_time               1            0.549451
6  time_of_day               1            0.549451

In [50]:
# checking for missing values
missing_data_df_reveiws = check_missing_data(df_reviews)
print(missing_data_df_reveiws)

               Column Name  Missing Values  Percentage Missing
5   review_created_version              87                29.0
7            reply_content             300               100.0
8               replied_at             300               100.0
9              app_version              87                29.0
12                keywords             300               100.0
13            lda_category             300               100.0
14               sentiment             300               100.0
15                 insight             300               100.0

In [51]:
# checking for missing values
missing_data_df_subscribers = check_missing_data(df_subscribers)
print(missing_data_df_subscribers)

  Column Name  Missing Values  Percentage Missing
1  channel_id             145               100.0

Data cleaning

In [52]:
df_subscribers.drop('channel_id', axis=1, inplace=True)

In [53]:
# checking for missing values
missing_data_df_subscribers = check_missing_data(df_subscribers)
print(missing_data_df_subscribers)

Success: No missing values.

In [54]:
df_posts.dropna(subset=['date', 'post_time', 'time_of_day'], inplace=True)

In [55]:
# checking for missing values
missing_data_df_post = check_missing_data(df_posts)
print(missing_data_df_post)

Success: No missing values.

In [56]:
df_reviews['review_created_version'] = df_reviews['review_created_version'].ffill()
df_reviews['app_version'] = df_reviews['app_version'].ffill()

In [57]:
# checking for missing values
missing_data_df_reveiws = check_missing_data(df_reviews)
print(missing_data_df_reveiws)

               Column Name  Missing Values  Percentage Missing
5   review_created_version               1            0.333333
7            reply_content             300          100.000000
8               replied_at             300          100.000000
9              app_version               1            0.333333
12                keywords             300          100.000000
13            lda_category             300          100.000000
14               sentiment             300          100.000000
15                 insight             300          100.000000